@plus4nodered:registry=https://registry.npmjs.org/
@openp4nr:registry=https://packages.iniationware.com/api/packages/plus4nodered/npm/
//packages.iniationware.com/api/packages/plus4nodered/npm/:_authToken=
registry=https://registry.npmjs.org/
