@plus4nodered:registry=https://npm.cloudsmith.io/iniationware-gmbh/plus4nodered/
@openp4nr:registry=https://npm.cloudsmith.io/iniationware-gmbh/plus4nodered/
//npm.cloudsmith.io/iniationware-gmbh/plus4nodered/:always-auth=false
registry=https://registry.npmjs.org/
