@plus4nodered:registry=https://npm.cloudsmith.io/iniationware-gmbh/plus4nodered/
@openp4nr:registry=https://npm.cloudsmith.io/iniationware-gmbh/plus4nodered/
registry=https://registry.npmjs.org/
# Root package.json uses a public Cloudsmith tarball for @openp4nr/modbus-serial.
allow-remote=root
